/* Este é o arquivo CSS para o portfólio pessoal. Ele define o estilo e a aparência do site, incluindo cores, fontes, layout e outros elementos visuais. O objetivo é criar um design atraente e profissional que destaque as habilidades e projetos do indivíduo. */

h1 {
    background-color: #333;
    color: aliceblue;
    text-align: center;
    margin-bottom: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 36px;
}

.p1 {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    color: whitesmoke;
    text-align: center;
    background-color: lightslategray;
    padding: 5px;
}

.menu, .menu ul, .menu li, .menu a {
    list-style-type: none;
    margin: 0px;
    padding: 3px;
    color: whitesmoke;
    text-align: left;
    overflow: hidden;
    background-color: #333;
    float: right;
    background-color: black;
    font-size: 12px;
}

.inicio, .inicio h2, .inicio p, .inicio button {
    padding: 20px;
    margin: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    h2 {
        font-size: 28px;
        margin-bottom: 10px;
        text-align: center;
    }
    text-align: left;
    button {
        background-color: #333;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
    }
}

.sobre {
    background-color: #f4f4f4;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    h2 {
        font-size: 28px;
        margin-bottom: 10px;
        text-align: center;
    }
    p {
        font-size: 18px;
        line-height: 1.6;
        text-align: left;
    }

    img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 20px auto;
        padding: 5px;
    }

    ul {
        list-style-type: disc;
        padding-left: 20px;
        font-size: large;
        li {
            margin-bottom: 10px;
            font-size: 18px;
            font-size: small;
        }}
}

.projetos {
    background-color: #f4f4f4;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    h2 {
        font-size: 28px;
        margin-bottom: 10px;
        text-align: center;
    }
    .card {
        background-color: white;
        padding: 15px;
        margin-bottom: 30px;
        border-radius: 5px;
        h3 {
            font-size: 22px;
            margin-bottom: 10px;
        }
        p {
            font-size: 16px;
            line-height: 1.6;
        }

        a {
            display: inline-block;
            margin-top: 10px;
            color: #333;
            text-decoration: none;
            border: 1px solid #333;
            padding: 5px 10px;
            border-radius: 5px;
        }
    }
}

.contato {
    background-color: #f4f4f4;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    h2 {
        font-size: 28px;
        margin-bottom: 10px;
        text-align: center;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        input, textarea {
            width: 70%;
            max-width: 250px;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        button {
            background-color: #333;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 5px;
            
            
        }}
    }

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}   